html, body {
    overflow: scroll;
    margin: 0; 
    padding: 0; 
	/*font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
    font-family: 'futura';
    font-weight:10; 
    font-stretch:normal;
    letter-spacing: 1px;
    margin:0;
    padding:0;
    height: 100%;
}


.back-ground {

    height:100%;
    /*width:100%;*/
    min-height:100%;
    /*float:left;*/
}



#key-bar {
    position: absolute;
    background: #fff;
    height: 1px;
    /*width: 80%;*/
    bottom: 10%;
    visibility: hidden;
}

.time-tag {
    position: absolute;
    bottom: 12%;
    height: 50px;
    width: 1px;
    visibility: visible;
}

#title {
    position: fixed;
    display: block;
    top:20%;
    text-align:center;
    left: 45%;
    width:5%;
    color:#fff;
    font-size:1.5em;
}