html, body {
    overflow: scroll;

	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight:10; 
    font-stretch:normal;
    letter-spacing: 1px;
    margin:0;
    padding:0;
    height: 100%;

    background: url("http://yiyang-liang.com/random/img/ybg.jpg") no-repeat fixed center;
    background-size: 100% 100%;
    color: #ffffff;
}



#key-bar {
    position: absolute;
    background: #fff;
    height: 1px;
    width: 80%;
    bottom: 10%;
    visibility: hidden;
}

.time-tag {
    position: absolute;
    bottom: 12%;
    height: 50px;
    width: 1px;
    visibility: visible;
}