body { 
    overflow: hidden; 
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight:100; 
    font-stretch:normal;
    letter-spacing: 1px;
}

canvas {


}

#container {
    /*font-family: "Helvetica Neue", Ultralight;*/
}




/* frame size transform */
.frame {
	width: 1280px;
    height: 786px;
    border: 2px solid #666561;
    background: 
    linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
    box-shadow: -10px 10px 38px 0 rgba(1,1,1,.53);
	/*-ms-transform: scale(0.45);
    -moz-transform: scale(0.45);
    -o-transform: scale(0.45);
    -webkit-transform: scale(0.45);
    transform: scale(0.45);*/
    
  /*  -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;*/

    /*transform: rotateX(50deg);*/

    transform-style: preserve-3d;

}

.domFrame {
    background: rgba(255, 255, 255, .5);
}

iframe{
    width:592px;
    height:100%;

    border:none;
    opacity: .999;
    transform: scale(0.8);
   
}

.timeTag {
    width: 500px;
    heigh: 100px;
    background: #ff0000;
}

.deleteButton {
    top: 0;
    left: 0;
    width:500px;
    height: 300px;
    background: #3498db;
}



.nodeTitle {
    width: 10%;
    height: 5%;
    font-size: 6px;
    color: #ffffff;
    backface-visibility: hidden;
}


#goTitle {

    color: #ffffff;
    font-size = 12px;
    position: absolute;
    top: 5%;
    left: 8%;
    width: 10%;
    height: 60%;
    /*background: rgba(21, 85, 75, 0.5);*/
    visibility:  hidden;
}

#goSubs {
    color: #ffffff;
    position: absolute;
    left: 8%;
    top: 11%;
    /*height: 10%;*/
    display = "block";

}

#goPopup {
    color: #ffffff;
    font-size = 12px;
    position: absolute;
   
    background: #15554b;
    left: 5%;
    top: 5%;
    cursor: default;

    -webkit-animation-name: textPopup; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes textPopup {
     from {
        opacity: 0.3;
      }

      to {
        opacity: 1;
      }
}
@keyframes textPopup {
    from {
        opacity: 0.3;
      }

      to {
        opacity: 1;
      }
}


#goPopup:hover {
    background: #ffffff;
    color: #000000;
}


#progress {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: #15554b; 
    opacity: 0.9;
    margin: 0;
    padding: 0;
    visibility:  hidden;
}


#progress #start-time {
    top: 5%;
    position: absolute;
    left: 8%;
    color: #ffffff;

}

#progress #end-time {
    top: 5%;
    position: absolute;
    left: 90%;
    color: #ffffff;
}


#progress #bar-time {
    position: absolute;
    color: #ffffff;
    left: 10%;
    top: 5%;
    width: 10%;
    height: 50px;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}




#progress #bar {
    position: absolute;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);

    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-transition-property: width, background-color;

    display: block;
    left: 10%;
    top: 30%;
    height: 39px;
    width: 80%;

    background: #bd513c;
    cursor: pointer;
    z-index: 2;
}


#progress #bar-holder {
    border-radius: 4px;
    position: absolute;
    left: 10%;
    top: 30%;
    height: 39px;
    width: 80%;
    z-index: 1;
    background: #f2e6cf

}
