body { 
    overflow: hidden; 

    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight:100; 
    font-stretch:normal;
    letter-spacing: 1px;
    color: #ffffff;
}

canvas {


}

#container {
    /*font-family: "Helvetica Neue", Ultralight;*/
}




/* frame size transform */
.domFrame {
    $thickness: 10px;
    width: 100%;
    height: 100%;

    -webkit-animation-name: framePop; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: framePop;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transform-style: preserve-3d;
}
@-webkit-keyframes framePop {
     from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
}
@keyframes framePop {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}


.domFrame .frame {
    width: 100%;
    height: 100%;
    /*border: 2px solid #666561;
    box-shadow: -10px 10px 38px 0 rgba(1,1,1,.53);*/
 
}

.frame.remove {
    -webkit-animation: removeFrame 1s 1 ease-in-out; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes removeFrame {
    0% {
        width: 100%
        opacity: 1;
      }

    100% {
        width: 0;
        opacity: 0;
      }
}
@keyframes removeFrame {
    0% {
        width: 100%
        opacity: 1;
      }
    100% {
        width: 0;
        opacity: 0;
      }
}


.timeTag {
    width: 500px;
    position: absolute;
    top: 5%;
    left: 20%;
}

.deleteButton {
    top: 0;
    left: 50%;
    width:30%;
    height: 5%;
    color: #ffffff;
    background: rgba(158,40,27, 0.5);
    cursor: pointer;
    border: none;
}
.deleteButton:active {
    opacity: 0;
}


.nodeTitle {
    width: 20%;
    height: 5%;
    font-size: 6px;
    backface-visibility: hidden;
    color: #ffffff;
}


#goTitle {

    color: #ffffff;
    font-size = 12px;
    position: absolute;
    top: 5%;
    left: 8%;
    width: 10%;
    /*height: 60%;*/
    background: rgba(61,115,139, 0.5);
    visibility:  hidden;
}

#goSubs {
    color: #ffffff;
    position: absolute;
    left: 8%;
    top: 11%;
    /*height: 10%;*/
    display = "block";
}

#goPopup {
    color: #ffffff;
    font-size = 12px;
    position: absolute;
   
    background: rgba(61,115,139, 0.5);
    left: 5%;
    top: 5%;
    cursor: pointer;

    -webkit-animation-name: textPopup; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: textPopup;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes textPopup {
     from {
        opacity: 0.3;
      }

      to {
        opacity: 1;
      }
}
@keyframes textPopup {
    from {
        opacity: 0.3;
      }

      to {
        opacity: 1;
      }
}
#goBack {
    color: #ffffff;
    font-size = 12px;
    position: absolute;
   
    background: rgba(61,115,139, 1);
    left: 5%;
    top: 5%;
    cursor: pointer;

    -webkit-animation-name: backPop; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: backPop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes backPop {
     from {
        opacity: 0.7;
      }

      to {
        opacity: 1;
      }
}
@keyframes backPop {
    from {
        opacity: 0.7;
      }

      to {
        opacity: 1;
      }
}




#goPopup:hover {
    background: rgba(61,115,139);
    color: #000000;
}


#progress {
    position: absolute;
    width: 100%;
    height:10%;
    bottom: 0;
    left: 0;
    background: rgba(131, 166, 158, 0); 
    opacity: 0.9;
    margin: 0;
    padding: 0;
    visibility:  hidden;
    color: #ffffff;
}


#progress #start-time {
    top: 5%;
    position: absolute;
    left: 8%;

}

#progress #end-time {
    top: 5%;
    position: absolute;
    left: 90%;
}


#progress #bar-time {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 10%;
    height: 50px;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}




#progress #bar {
    position: absolute;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);

    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-transition-property: width, background-color;

    display: block;
    left: 10%;
    top: 40%;
    height: 30%;
    width: 80%;

    background: #3D738B;
    cursor: pointer;
    z-index: 2;
}


#progress #bar-holder {
    border-radius: 4px;
    position: absolute;
    left: 10%;
    top: 40%;
    height: 30%;
    width: 80%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);

}
